body {
    font-family: sans-serif;
    background-color: green;
    margin-top: 75px;
}

.center {
    text-align: center;
    background-color: red;
}

.text-big {
    font-size: 300%;
    background-color: blue;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}

